<article class="category category--small _snippet-category--small">
    <h2 class="category-name">{{ category.name }}</h2>

    <div class="category-description">{{ category.description | excerpt(20) }}</div>

    <a class="category-link btn" href="{{ category.link }}">{{ _e('Mehr') }}</a>
</article>