{% if post.content %}
	<section class="_module-entry-content">

    	<h1 class="content-title section-headline">{{ post.title }}</h1>

    	<div class="content-content">
        	{{ post.content }}
    	</div>

	</section>
{% endif %}