<section class="_module-content entry-content _module-entry-content">

    <h1 class="content-title">{{ post.title }}</h1>

    <div class="content-content">
        {{ post.content }}
    </div>

</section>