<section class="_module-taxonomy-description taxonomy-description taxonomy-description--{{ term.slug }}">

    <h1 class="content-title">{{ term.name }}</h1>

    <div class="content-description">
        {{ term.description }}
    </div>
</section>