<section class="entry-content _module-categories">
    <div class="cat-list">
        {% for cat in categories %}
            {% if cat.get_posts %}
                <div class="cat-item">

                    {% include ['_snippets/_snippet-' ~ cat.slug ~ '--small.twig', '_snippets/_snippet-category--small.twig'] with { 'category' : cat } %}

                    <div class="cat-list-posts">
                    {% for post in cat.get_posts({ 'numberposts' : 4 }) %}
                        {% include ['_snippets/_snippet-' ~ post.post_type ~ '--small.twig', '_snippets/_snippet-post--small.twig'] with { 'post' : post } %}
                    {% endfor %}
                </div>

                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>