{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-news">
        <h1 class="content-title">{{ post.title }}</h1>
        {% include('_modules/_module-posts.twig') %}
    </section>
{% endblock %}