{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-single">

        {% include ['_snippets/_snippet-' ~ post.post_type ~ '--full.twig',
                    '_snippets/_snippet-post--full.twig']
                    with { (post.post_type) : post } %}

    </section>
{% endblock %}