{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-taxonomy-{{ term.slug }}">

        {% include '_modules/_module-taxonomy-description.twig' %}
        {% include '_modules/_module-taxonomy-list.twig' %}

    </section>
{% endblock %}