{% extends "container.twig" %}

{% block content %}
    <section class="_content _content-page _content-agb">
        {% include('_modules/_module-entry-content.twig') %}
        {% include('_modules/_module-flexible-content.twig') %}
        {% include('_modules/_module-agb.twig') %}
    </section>
{% endblock %}