{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-archive">

        {% include('_snippets/_snippet-breadcrumbs.twig') %}

        {% if posts %}
            {% for post in posts %}
                {% include '_snippets/_snippet-' ~ post.post_type ~ '--med.twig' %}
            {% endfor %}
        {% endif %}

    </section>
{% endblock %}